body {
  font-size: 16px;
}

pre.code {
  padding: 0;
  margin: 0;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
}

html {
  scroll-behavior: smooth;
}

.arrow>li {
  list-style-type: none;
  list-style-image: url('../images/arrow_1.png');
}

.result {
  border-left: 6px solid green;
  padding-left: 5px;
  font-size: 20px;
  background-color: grey(216, 247, 169);
  width: 400px;
}

#html-details .nav.bs-docs-sidenav .nav, #css-details .nav.bs-docs-sidenav .nav {
  padding-left: 15px;
  font-size: 12px;
}

.clear {
  clear: none;
  height: 320px;
  width: 0;
}

.css-container {
  background: #e3e3e3;
  border: 1px solid #cccccc;
  border-right: none;
}

.css-container textarea {
  width: 100%;
  height: 100px;
}

.css-grid {
  width: 50%;
  float: left;
  height: 300px;
  padding: 0 30px 30px;
  -webkit-box-sizing: border-box;
}

.css-output {
  background: #e3e3e3;
  border: 1px solid #cccccc;
  border-left: none;
  padding: 0 15px;
}

#html-details iframe, #css-details iframe {
  border: none;
  height: 238px;
  width: 100%;
}

iframe.editor {
  border: none;
  width: 100%;
  height: 410px;
}

.main-menu {
  position: fixed;
  margin-left: 10px;
  margin-top: 10px;
}

.main-menu a {
  font-size: 26px;
}

code.inline {
  display: inline;
}

a:hover {
  cursor: pointer;
}

ul.nav.nav-pills>li>span{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 1.42857143;
  font-size: 16px;
  list-style: none;
  box-sizing: border-box;
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
}