.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 50px;
}

html {
  scroll-behavior: smooth;
}

.arrow > li {
  list-style-type: none;
  list-style-image: url('../images/arrow_1.png');
}

.result {
    border-left: 6px solid green;
    padding-left: 5px;
    font-size: 20px;
    background-color: grey(216, 247, 169);
    width: 400px;
}

#html-details .nav.bs-docs-sidenav .nav,
#css-details .nav.bs-docs-sidenav .nav{
  padding-left: 15px;
  font-size: 12px;
}